<!--Method Signature-->
<code class="Signature language-php {% if node.deprecated %}Deprecated{% endif %}">
  <span>{{ node.visibility }}</span>
  {% if node.abstract %}<span>abstract</span>{% endif %}
  {% if node.final %}<span>final</span>{% endif %}
  {% if node.static %}<span>static</span>{% endif %}
  {% apply spaceless %}
    <span>{{ node.name }}</span>
    <span>(</span>
    {% for argument in node.arguments %}
      <span>
        {% if argument.default %}<span>[</span>{% endif %}
        {% if not loop.first %}<span>, </span>{% endif %}
        <span>{{ argument.type|route('class:short')|join('|')|raw }}&nbsp;</span>
        {% if argument.isVariadic %}<span>...</span>{% endif %}
        {%- if argument.byReference -%}<span>&amp;</span>{%- endif -%}
        <span>${{ argument.name }}</span>
        {% if argument.default %}
          <span> = </span>
          <span>{{ argument.default }}</span>
          <span> ]</span>
        {% endif %}
      </span>
    {% endfor %}
    <span>)</span>
    <span> : </span>
    <span>{{ node.response.type|route('class:short')|join('|')|raw }}</span>
  {% endapply %}
</code>
