<article class="Member Method -{{ method.visibility }} {% if method.deprecated %}-deprecated{% endif %} {% if method.abstract %}-abstract{% endif %} {% if method.static %}-static{% endif %} {% if method.final %}-final{% endif %}">
    <h4 class="phpdocumentor-element__name" id="method_{{ method.name }}">
        {{ method.name }}()
        <a href="{{ link(method) }}" class="headerlink"></a>
    </h4>
    {{ include('components/element-found-in.html.twig', {'node': method}) }}

    {% if method.summary %}
      <p class="Summary">{{ method.summary }}</p>
    {% endif %}

    {{ include('components/method-signature.html.twig', {'node': method}) }}

    {% if method.description %}
      <div class="Description">{{ method.description|description|markdown }}</div>
    {% endif %}

    {{ include('components/method-arguments.html.twig', {'node': method}) }}
    {{ include('components/tags.html.twig', {'node': method }) }}
    {{ include('components/method-response.html.twig', {'node': method}) }}
</article>
