{# Create short names for a few boolean checks #}
  {% set hasClasses = project.namespace.classes is not empty %}
  {% set hasConstants = project.namespace.constants is not empty %}
  {% set hasFunctions = project.namespace.functions is not empty %}
  {% set hasInterfaces = project.namespace.interfaces is not empty %}
  {% set hasTraits = project.namespace.traits is not empty %}

<div id="SearchBox" data-search-form>
  <label for="SearchBoxInput" class="ScreenReaderOnly">Search</label>
  <input id="SearchBoxInput" type="search" placeholder="Search" disabled>
</div>

{% set menu = menu() %}
{% if menu %}
  <p class="MenuName"><a href="{{ menu.path }}">{{ menu.label }}</a></p>
  {% for menuItem in menu.items %}
    {{ include('menu.html.twig', {menuItem: menuItem}, with_context = false) }}
  {% endfor %}
{% endif %}

<ul>
  <li>
    <p class="MenuName">Namespaces</p>
    {% if usesNamespaces or not usesPackages %}
      {% if hasClasses or hasConstants or hasFunctions or hasInterfaces or hasTraits %}
        <p>{{ project.namespace|route('Global') }}</p>
      {% endif %}
      <ul>
        {% for namespace in project.namespace.children %}
          <li>
            <p>{{ namespace|route('class:short') }}</p>
            <ul class="phpdocumentor-list">
              {% for child in namespace.children %}
                <li>{{ child|route('class:short') }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>

{% if usesPackages %}
  <li>
    <p class="MenuName">Packages</p>
    <ul>
      {% for package in project.package.children %}
        <li>
          <p>{{ package|route('class:short') }}</p>
          {% if package.children is not empty %}
            <ul class="phpdocumentor-list">
              {% for child in package.children %}
                <li>{{ child|route('class:short') }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </li>
{% endif %}


  <li>
    <p class="MenuName">Collections</p>
    <ul>
      {% if project.settings.custom['graphs.enabled'] %}
        <li><a href="graphs/classes.html">Class Diagram</a></li>
      {% endif %}

      {% if filesWithDeprecatedElements is not empty %}
        <li><a href="reports/deprecated.html">Deprecated</a></li>
      {% endif %}

      {% if filesWithErrors is not empty %}
        <li><a href="reports/errors.html">Errors</a></li>
      {% endif %}

      {% if filesWithMarkers is not empty %}
        <li><a href="reports/markers.html">Markers</a></li>
      {% endif %}
      <li><a href="indices/files.html">Files</a></li>
    </ul>
  </li>
</ul>
