<dt class="GlossName {{ type }} {{ node.visibility }}">
  <a href="{{ link(node) }}">{{ node.name }}{{ type == 'method' or type == 'function' ? '()' }}</a>
  <span>
    {% if type == 'constant' %}
      &nbsp;= {{ node.value }}
    {% endif %}
    {% if type == 'property' %}
      &nbsp;: {{ node.type ? node.type|route('class:short')|join('|')|raw : 'mixed' }}
    {% endif %}
    {% if type == 'method' or type == 'function' %}
      &nbsp;: {{ node.response.type|route('class:short')|join('|')|raw }}
    {% endif %}
  </span>
</dt>
<dd class="GlossDesc">{{ node.summary }}</dd>
