{% set constants = constants(node) %}
{% set properties = properties(node) %}
{% set methods = methods(node)|sortByVisibility %}

<h3 id="toc">Table of Contents <a href="#toc" class="headerlink"></a></h3>

<table class="Toc">
  <caption>Click on any value in the name column to be read its full documentation.</caption>
  <thead>
    <tr>
      <td>Type</td>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  {% if packages|default([]) is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Package', 'items': packages}) }}
  {% endif %}

  {% if namespaces|default([]) is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Namespace', 'items': namespaces}) }}
  {% endif %}

  {% if node.interfaces is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Interface', 'items': node.interfaces}) }}
  {% endif %}

  {% if node.classes is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Class', 'items': node.classes}) }}
  {% endif %}

  {% if node.traits is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Trait', 'items': node.traits}) }}
  {% endif %}

  {% if constants is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Constant', 'items': constants}) }}
  {% endif %}

  {% if properties is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Property', 'items': properties}) }}
  {% endif %}

  {% if methods is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Method', 'items': methods}) }}
  {% endif %}

  {% if functions is not empty %}
    {{ include('components/TocBody.html.twig', {'name': 'Function', 'items': functions}) }}
  {% endif %}
</table>
